
.container {
    margin: 0 auto;
    padding: 0;
}

.navbar {
    border-radius: 0;
}

body  {
  padding-top:50px;
}
.polls  {
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
  padding: 5px;
}

.poll   {
  width:25%;
  margin:20px;
}
